*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 65px;
    text-align: center;
    padding: 30px;
    background:#ffaead;
}

header h1{
    padding-bottom: 20px;
   
}

nav{
    width: 100%;
    height: 60px;
    text-align: center;
    background: #ffebac;  
}
nav a{
    padding: 50px;
  
}

main{
    width: 70%;
    display: flex;
}

img{
    width: 400px;
}