*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;   
}
body{
    max-width: 2000px;
    overflow: hidden;
    height: auto;
}

a{
    text-decoration: none;
}

h1,h2{
    color: white;
}

header{
    width: 100%;
    height: 65px;
    text-align: center;
    padding: 30px;
    background:#ffaead;

}

header h1{
    padding-bottom: 20px;
   
}

nav{
    width: 100%;
    height: 50px;
    text-align: center;
    background: #ffebac;  
   
}

.nav{
    padding: 30px;
}
nav>a{
    padding: 50px;
    font-size: 30px;
    /* background: #68676a;
    color: white; */
}

main{
    width: 80%;
    height: auto;
    background: #fccaef;
    padding: 30px;
   
}
article{
   background: #8ed8d9;
   height: auto;
   padding: 30px;
}

article img{
    width: 300px;
    padding-right: 30px;
}

.art-pa{
    display: flex;
    margin-bottom: 30px;
   
}

.div-main{
    display: flex;
}

.barra{
    background: #a8faa8;
    width: 20%;
    height: auto;
    padding: 50px ;
    text-align: center;
}

.barra ul{
    list-style-type: none;
    
}

.titulo-barra h3 {
    padding: 20px 0;
}

.lista-menu h3{
    padding: 20px 0;
}

footer{
    width: 100%;
    height: 100px;
    background:#a7c5f9;
    padding: 40px;
    display: flex;
}
.p-1{
   
   margin: 0 40px;
}

